.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #30ee30;
  --secondary-color: #057c05;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #1a5ef1;
}
