.app_sakura_theme {
  --bg-color: #fff6fa;
  --inverted-bg-color: #ffb0d4e3;
  --primary-color: #f854fd;
  --secondary-color: #ff9eca;
  --inverted-primary-color: #fbf4f7;
  --inverted-secondary-color: #fbf4f7;

  // skeleton
  --skeleton-color: #f0aae1;
  --skeleton-shadow: #c03ba3;

  // code
  --code-bg: #fff;
}
